*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* background-color: #0d0d0d; */
  color: white;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.popular-persons {
  margin-bottom: 40px;
}

.popular-persons h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.persons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.persons-grid {
  display: flex;
  gap: 20px;
}

.person {
  position: relative;
  background-color: #1c1c1c;
  border-radius: 8px;
  width: 250px;
  text-align: center;
  overflow: hidden;
}

.person img {
  width: 100%;
  border-radius: 8px;
  display: block;
}

.rank {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(255, 215, 0, 0.8);
  color: black;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 4px;
}

.person-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  text-align: left;
}

.name {
  font-size: 16px;
  font-weight: bold;
}

.original-name {
  font-size: 14px;
  color: #bbb;
}

.age {
  font-size: 14px;
  color: #ffcc00;
}

.persons-list {
  background-color: #1c1c1c;
  padding: 10px;
  border-radius: 8px;
  width: 500px; 
  height: 335px; 
  font-size: 14px;
  margin-left: 20px;
  overflow-y: auto; 
}

.persons-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.persons-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 10px;
  font-size: 14px;
  border-bottom: 1px solid #333;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  max-width: 100%;
}

.list-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.place {
  white-space: nowrap;
}
.persons-list li:last-child {
  border-bottom: none;
}

.persons-list span {
  color: #bbb;
  font-size: 12px;
}



/*  */



.expected-movies {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.header h2 {
  font-size: 22px;
  font-weight: bold;
}

.arrows span {
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
}

.movies-grid {
  display: flex;
  gap: 15px;
}

.movie {
  background-color: #1c1c1c;
  border-radius: 10px;
  width: 300px;
  padding: 1px;
  text-align: center;
}

.movie img {
  width: 100%;
  border-radius: 8px;
}

.movie .title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}

.movie .date {
  font-size: 14px;
  color: #f5c518;
  margin-top: 3px;
}




/*  */


.footer {
  width: 100%;
  background-color: #0f0f0f; 
  text-align: center;
  padding: 20px 0;
  position: relative; 
  bottom: 0;
  left: 0;
}

.social-icons {
  margin-bottom: 10px;
}

.social-icons a {
  margin: 0 8px;
}

.footer-nav {
  margin-bottom: 10px;
}

.footer-nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.copyright {
  color: #aaa;
  font-size: 14px;
  margin-bottom: 10px;
}

.privacy-policy {
  color: #aaa;
  font-size: 14px;
  text-decoration: none;
}