* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	color: rgba(255, 255, 255, 1);
}

body {
	background-color: rgba(30, 37, 56, 1);
	position: relative;
	color: white;
}

.main-img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
}

.main-img img {
	width: 100%;
	object-fit: cover;
	position: relative;
	z-index: -2;
	height: 100vh;
	opacity: 0.3;
	transition: 0.3 ease;
}

.main-img::before {
	content: "";

	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 50%;
	background: linear-gradient(180deg, #1e2538 1%, #00000000 60.56%);
}

.main-img::after {
	content: "";

	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	width: 100%;
	height: 50%;
	background: linear-gradient(0deg, #1e2538 1%, #00000000 60.56%);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
	position: relative;
	z-index: 10;
	background-color: red;

	.logo {
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 129px;
	}

	nav {
		display: flex;
		gap: 35px;

		a {
			font-size: 15px;
			font-weight: 600;
			line-height: 21px;
			text-decoration: none;
			cursor: pointer;
		}
	}

	.btns {
		display: flex;
		gap: 12px;

		.search {
			width: 45px;
			height: 42px;
			background-color: rgba(255, 255, 255, 1);
			border: 1px solid rgba(255, 255, 255, 1);
		}

		.search,
		.sign-in {
			cursor: pointer;
			border-radius: 10px;
			transition: box-shadow 0.3s ease-in-out;
		}

		.sign-in {
			width: 138px;
			height: 43px;
			background-color: rgba(54, 87, 203, 1);
			border: none;
			font-size: 15px;
			font-weight: 700;
			line-height: 167%;
		}
	}
}

.search:hover {
	box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
}

.sign-in:hover {
	box-shadow: 0px 0px 10px 0px rgba(72, 113, 255, 0.8);
}

.movies-filter {
	display: flex;
	align-items: center;
	justify-content: space-between;

	h1 {
		font-size: 50px;
		font-weight: 900;
		line-height: 100%;
	}

	.line {
		display: inline-block;
		width: 51px;
		height: 2px;
		background-color: white;
	}

	.categories {
		display: flex;
		align-items: center;
		gap: 20px;

		.genre {
			text-decoration: none;
			font-size: 15px;
			line-height: 100%;
			color: #ccc;
			opacity: 0.8;
			font-weight: 500;
		}
	}
}

.categories a:hover {
	color: white;
	opacity: 1;
	transition: transform 0.3s ease-in-out;
}

.movies-grind {
	margin-top: 63px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 22px;
	max-width: 100%;
}

.movie-card {
	max-width: 290px;
	width: 100%;
	border-radius: 10px;
	padding-bottom: 12px;
	overflow: hidden;
	transition: transform 0.3s ease-in-out;
	cursor: pointer;
	position: relative;

	.img_box {
		height: 412px;
		width: 100%;
		border-radius: 10px;
		overflow: hidden;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: 0.3s ease;
	}

	h3 {
		margin-top: 10px;
		font-size: 18px;
		line-height: 100%;
		font-weight: 700;
		padding: 5px 5px;
	}

	p {
		margin-top: 5px;
		font-size: 15px;
		line-height: 100%;
		font-weight: 400;
		color: rgba(242, 246, 15, 1);
		opacity: 0.8;
		padding: 0 5px;
	}

	.rating {
		display: inline-block;
		margin-top: 10px;
		background: rgba(137, 203, 54, 1);
		color: rgba(255, 255, 255, 1);
		font-size: 18px;
		padding: 3px 5px;
		border-radius: 5px;
		font-weight: bold;

		position: absolute;
		top: 0;
		right: 10px;
	}

	.movie-overlay {
		position: absolute;
		width: 224px;
		height: 71px;
		top: 41%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba(255, 255, 255, 1);
		z-index: 2;

		font-weight: 700;
		color: rgba(54, 87, 203, 1);
		padding: 20px 40px;
		border-radius: 10px;
		text-align: center;
		font-size: 16px;
		line-height: 167%;
		display: none;
		box-shadow: 0 0 10px rgba(55, 94, 225, 0.5);
	}
}

.movie-card:hover .img_box img {
	transform: scale(1.05);
}

.movie:hover img {
	transform: scale(1.05);
}

.now-in-cinema {
	margin-top: 51px;
	position: relative;

	.view-all {
		margin: 48px auto 25px auto;
		display: block;
		text-align: center;

		width: 200px;
		height: 71px;
		border-radius: 10px;
		color: rgba(255, 255, 255, 1);
		border: 2px solid rgba(255, 255, 255, 1);
		background-color: transparent;
		cursor: pointer;
		font-size: 18px;
		font-weight: 700;
		line-height: 167%;
	}
}

.popular-persons {
	margin-bottom: 40px;
	margin-top: 65px;
}

.popular-persons h2 {
	font-size: 50px;
	margin-bottom: 63px;
}

.persons-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 23px;
}

.person {
	position: relative;
	background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 55.56%);
	border-radius: 8px;

	text-align: center;
	overflow: hidden;
	height: 444px;
}

.person img {
	width: 100%;
	height: 100%;
	border-radius: 8px;
	display: block;
}

.rank {
	position: absolute;
	top: 10px;
	left: 10px;
	color: rgba(242, 246, 15, 1);
	font-size: 15px;
	padding: 3px 6px;
	border-radius: 4px;
	line-height: 20px;
	font-weight: 500;
}

.person-info {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 27px;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
	text-align: left;
	gap: 6px;
}

.name {
	font-size: 27px;
	font-weight: 700;
	line-height: 100%;
}

.original-name {
	font-size: 16px;
	color: rgba(255, 255, 255, 0.35);
	font-weight: 600;
}

.age {
	font-size: 13px;
	color: rgba(242, 246, 15, 1);
	font-weight: 500;
	line-height: 20px;
}

.others-name {
	font-size: 18px;
	font-weight: 700;
	line-height: 100%;
}

.org-name {
	font-size: 14px;
	color: rgba(59, 72, 107, 1);
}

.persons-list {
	background-color: rgba(27, 33, 51, 1);
	padding: 10px;
	border-radius: 8px;
	font-size: 14px;
	overflow-y: auto;

	height: 444px;
	width: 466px;
}

.persons-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.persons-list li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10px;
	font-size: 14px;
	border-bottom: 1px solid #333;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
}

.list-info {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: hidden;
	gap: 3px;
}

.place {
	white-space: nowrap;
	color: rgba(242, 246, 15, 1);
}

.persons-list li:last-child {
	border-bottom: none;
}

.expected-movies {
	margin-top: 131px;
	margin-bottom: 170px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 70px;
}

.header h2 {
	font-size: 50px;
	font-weight: bold;
}

.arrows {
	display: flex;
	gap: 13px;

	span {
		font-size: 20px;
		font-weight: 500;
		line-height: 100%;
		cursor: pointer;
	}

	button {
		background-color: transparent;
		border: none;
		cursor: pointer;
	}
}

.moviesGrid {
	display: flex;
	gap: 20px;

	.movie {
		background-color: rgba(30, 37, 56, 1);
		border-radius: 10px;
		padding: 1px;
		cursor: pointer;
	}

	img {
		width: 100%;
		border-radius: 5px;
		object-fit: cover;
		transition: 0.3s ease;
	}

	.title {
		font-size: 16px;
		font-weight: 700;
		margin-top: 14px;
	}

	.date {
		font-size: 13px;
		color: rgba(242, 246, 15, 1);
		margin-top: 3px;
	}
}

.footer {
	width: 100%;
	background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100.82%);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px 0;
	position: relative;
	bottom: 0;
	left: 0;

	a {
		margin: 0 8px;
		margin-bottom: 59px;
	}
}

.social-icons {
	display: flex;
	justify-content: center;
	gap: 18px;
	margin-top: 23px;

	img {
		width: 30px;
		height: 20px;
	}
}

.footer-nav {
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	gap: 30px;

	a {
		color: #ffffff;
		text-decoration: none;
		line-height: 100%;
		font-weight: 700;
		font-size: 17px;
	}
}

.copyright {
	color: rgba(227, 230, 240, 0.72);
	font-size: 13px;
	margin-bottom: 28px;
}

.privacy-policy {
	color: rgba(227, 230, 240, 0.72);
	font-size: 13px;
	text-decoration: none;
}

.new-trailers {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 79px;
}

.text {
	display: flex;
	justify-content: space-between;
	align-items: center;

	h1 {
		font-size: 50px;
		font-weight: 900;
		line-height: 100%;
	}

	div {
		display: flex;
		align-items: center;
		gap: 27px;

		img {
			width: 30px;
			height: 26px;
			cursor: pointer;
		}

		p {
			font-weight: 700;
			font-size: 22px;
			cursor: pointer;
		}
	}
}

.trailer {
	display: flex;
	justify-content: center;
	flex-direction: column;

	img {
		border-radius: 10px;
	}

	.trailer-name {
		display: flex;
		gap: 34px;
	}

	div {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.message {
			display: flex;
			gap: 17px;

			img {
				width: 17px;
				height: 17px;
				cursor: pointer;
			}
		}

		h1 {
			font-size: 50px;
			font-weight: 900;
			line-height: 100%;
		}

		.trailer-like {
			display: flex;
			align-items: start;
			gap: 8px;

			.like,
			.deslike {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 8px;

				div {
					padding: 16px 12px 16px 20px;
					background-color: #1b2133;
					border-radius: 10px;
					cursor: pointer;
				}
			}
		}
	}
}

.films {
	display: flex;
	gap: 20px;
	overflow-x: scroll;
	scrollbar-width: thin;
	scrollbar-color: #3657cb #1b2133;

	padding-top: 43px;

	.film {
		display: flex;
		flex-direction: column;
		align-items: start;

		p {
			font-weight: 900;
			font-size: 20px;
		}

		img {
			cursor: pointer;
			width: 300px;
			height: 252px;
			object-fit: contain;
			border-radius: 10px;
		}
	}
}

.popular-films {
	padding-top: 75px;
	display: flex;
	flex-direction: column;
	gap: 63px;

	.texts {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.tire {
			width: 52px;
			border: 2px solid #ffffff;
			border-radius: 2px;
		}

		.time {
			display: flex;
			gap: 20px;

			p {
				font-weight: 700;
				font-size: 18px;
				color: gray;
				cursor: pointer;
			}
		}

		h2 {
			font-size: 50px;
			font-weight: 900;
			line-height: 100%;
		}
	}

	.top-films {
		display: flex;
		gap: 22px;

		div {
			display: flex;
			flex-direction: column;
			align-items: start;
			position: relative;
		}

		.grade {
			padding: 5px 10px;
			border-radius: 5px;
			background-color: #4bcb36;
			position: absolute;
			right: 12px;
			top: 12px;
		}

		p {
			font-weight: 700;
			font-size: 18px;
		}

		span {
			font-weight: 400;
			font-size: 15px;
			color: #f2f60f;
		}

		img {
			border-radius: 15px;
			cursor: pointer;
			height: 412px;
			overflow: hidden;
		}

		img:hover {
			transform: scale(1.05);
			transition: 0.3s;
		}
	}
}

.texts .time p:hover {
	color: white;
}

.iframe {
	height: 700px;
}

.film-infoBox,
.actor-infoBox {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 57px;
	width: 1297px;
	gap: 50px;

	.film-image {
		width: 395px;
		height: 539px;
		border-radius: 10px;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			border-radius: 10px;
			object-fit: cover;
		}
	}

	.film-info {
		.main-box {
			margin-bottom: 3px;

			span {
				font-size: 16px;
				line-height: 169%;
				font-weight: 500;
				color: rgba(79, 91, 124, 1);
			}

			.white,
			.actorName {
				color: white;
			}
		}

		.header-box {
			h1 {
				font-size: 65px;
				line-height: 100%;
				font-weight: 900;
				margin-bottom: 10px;
			}

			h3 {
				font-size: 20px;
				font-weight: 500;
				line-height: 100%;
			}
		}

		.film-raiting-box {
			gap: 5px;
			margin-top: 14px;


		}

		.film-raiting {
			width: 52px;
			height: 52px;
		}

		.film-description {
			margin-top: 30px;
			width: 627px;

			p {
				font-size: 20px;
				line-height: 167%;
				font-weight: 500;
			}
		}

		.links-box {
			display: flex;
			margin-top: 30px;
			gap: 37px;

			button {
				width: 260px;
				height: 71px;
				border: 2px solid rgba(255, 255, 255, 1);
				border-radius: 10px;
				background: transparent;
				display: flex;
				align-items: center;
				text-align: center;
				justify-content: center;
				gap: 12px;
				font-size: 18px;
				line-height: 167%;
				font-weight: 700;
				cursor: pointer;
			}

			.social-links-box {
				display: flex;
				align-items: center;
				gap: 20px;
				width: 179px;
				position: relative;

				a {
					text-decoration: none;
					cursor: pointer;
				}

				img {
					width: 15px;
					height: 15px;
				}

				.menu {
					position: absolute;
					top: 8px;
					left: 77%;
					font-size: 25px;
					color: rgba(79, 91, 124, 1);
				}
			}
		}
	}
}

.film-rating {
	margin-top: 20px;
	width: 52px;
	height: 52px;
	position: relative;
	background-color: rgba(75, 203, 54, 0.3);
	border-radius: 50%;

	canvas {
		width: 100%;
		height: 100%;
	}

	span {
		position: absolute;
		left: 50%;
		top: 50%;
		color: white;
		transform: translate(-50%, -50%);
		font-size: 18px;
		font-weight: bold;
	}
}

.info-table {
	display: flex;
	justify-content: space-between;
	margin-top: 45px;
	padding: 45px 100px;

	.first-table,
	.second-table {
		width: 50%;
	}

	.first-table {
		margin-right: 8px;
	}

	td {
		padding: 15px;
		font-size: 18px;
		font-weight: 500;
	}


}

table {
	width: 100%;
	border-collapse: collapse;

	a {
		color: #ffd700;
		text-decoration: none;
	}
}

.actor-information {
	table {
		max-width: 619px;

		th {
			text-align: start;
			color: rgb(111, 118, 141);
			cursor: pointer;
		}

		th,
		td {
			padding: 10px;
		}

		strong {
			color: #ccc;
		}

		.active {
			color: #FFFFFF;
			text-decoration: underline;
		}
	}
}

a:hover {
	text-decoration: underline;
}

.in-the-role-box {
	display: flex;
	flex-direction: column;
	margin-bottom: 82px;
	gap: 61px;
}

.staring-box {
	display: flex;
	justify-content: space-between;
	align-items: center;

	h2 {
		font-size: 48px;
		font-weight: 900;
		line-height: 100%;
	}

	.all-actors-link {
		display: flex;
		align-items: center;
		gap: 15px;

		span {
			font-size: 18px;
			font-weight: 700;
			line-height: 100%;
		}
	}
}

.actors-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	column-gap: 37px;
	row-gap: 55px;
	margin-bottom: 100px;

	.actor {
		div {
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				border-radius: 5px;
				object-fit: cover;
			}
		}
	}

	.actor-info {
		display: flex;
		flex-direction: column;
		margin-top: 16px;
		gap: 10px;

		.actor-name {
			font-size: 18px;
			line-height: 100%;
			font-weight: 700;
		}

		.gray {
			font-size: 15px;
			font-weight: 400;
			color: rgba(255, 255, 255, 0.7);
		}

		.actor-role {
			font-size: 16px;
			font-weight: 400;
			line-height: 100%;
			color: rgba(242, 246, 15, 1);
		}
	}
}

.trailer-box {
	margin-bottom: 200px;

	.trailer-main {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 79px;

		h2 {
			font-size: 48px;
			font-weight: 900;
			line-height: 100%;
		}

		.all-actors-link {
			display: flex;
			align-items: center;
			gap: 20px;

			span {
				font-size: 20px;
				font-weight: 700;
				line-height: 100%;
			}
		}
	}

	.trailer-content {
		margin-bottom: 26px;
		position: relative;
		height: 765px;
		width: 100%;

		iframe {
			border-radius: 10px;
			width: 100%;
			height: 765px;
		}

		.thumbnail {
			width: 100%;
			height: 100%;
			cursor: pointer;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			border-radius: 10px;
		}
	}

	.trailer-title {
		display: flex;
		gap: 33px;

		h3 {
			font-size: 40px;
			line-height: 100%;
			font-weight: 900;
		}

		.social-links-box {
			display: flex;
			align-items: center;
			margin-top: 13px;
			gap: 20px;
			width: 179px;

			a {
				text-decoration: none;
				cursor: pointer;
			}

			img {
				width: 15px;
				height: 15px;
			}

			.menu {
				position: absolute;
				top: 8px;
				left: 77%;
				font-size: 25px;
				color: rgba(79, 91, 124, 1);
			}
		}
	}
}

.gallery-section {
	display: flex;
	flex-direction: column;
	gap: 30px;

	.gallery-header {
		display: flex;
		align-items: start;
		justify-content: space-between;

		h2 {
			font-size: 48px;
			font-weight: 900;
			line-height: 100%;
		}

		.main {
			display: flex;
			flex-direction: column;
			gap: 37px;


			span {
				font-size: 25px;
				line-height: 100%;
				font-weight: 600;
			}
		}

		.all-actors-link {
			display: flex;
			align-items: center;
			gap: 20px;
			cursor: pointer;

			span {
				font-size: 20px;
				font-weight: 700;
				line-height: 100%;
			}
		}
	}

	.gallery-box {
		display: flex;
		flex-direction: column;
		gap: 34px;

		.movie-title {
			font-size: 25px;
			font-weight: 600;
			line-height: 100%;
		}

		.gallery {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas:
				"box1 box1 box2 box3"
				"box4 box5 box6 box6";
			column-gap: 23px;
			row-gap: 42px;

			.gallery-item {
				background: transparent;
				height: 462px;
				border-radius: 10px;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
					border-radius: 10px;
					object-fit: cover;
				}
			}
		}
	}
}

.actor-gallery {
	margin-bottom: 100px;
}

.gallery-item:first-child {
	grid-area: box1;
}

.gallery-item:last-child {
	grid-area: box6;
}

.poster:hover img {
	transform: scale(1.05);
}

.similar-movies-section {
	margin-top: 100px;
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 63px;

	h2 {
		font-size: 48px;
		font-weight: 900;
		line-height: 100%;
	}

	.similar-movies-box {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: 22px;
	}
}

.film-container {
	position: relative;
	z-index: 5;
}

.header-box {
	margin-bottom: 31px;
}

.favorite {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-top: 31px;
	cursor: pointer;

	button {
		width: 58px;
		height: 58px;
		border: none;
		border-radius: 10px;
		background-color: rgba(27, 33, 51, 1);
		cursor: pointer;
	}

	span {
		font-size: 14px;
		font-weight: 500;
		line-height: 100%;
	}
}